<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reviewer.mvc.model.dao.ReviewDao">
	<select id="selectById" resultType="Review">
		SELECT * FROM review
		WHERE board_id LIKE #{baordId};
	</select>
	<insert id="insert" parameterType="Review">
		INSERT INTO	review (food_name, food_coment, food_rating, board_id)
		VALUES (#{foodName}, #{foodComent}, #{foodRating}, #{boardId})
	</insert>
	<delete id="deleteByBoardId">
		DELETE FROM review
		WHERE board_id LIKE #{id};
	</delete>
	<delete id="deleteByReviewId">
		DELETE FROM review
		WHERE review_id LIKE #{id};
	</delete>
	<update id="update" parameterType="Review">
		UPDATE review
		SET food_name = #{foodName},  food_coment = #{foodComent}, food_rating = #{foodRating}
		WHERE review_id = #{reviewId}
	</update>
</mapper>